.shopping-cart-container {
    display: flex;
    flex-direction: column;
    max-height: 80vh; /* Ajusta la altura según sea necesario */
    overflow: hidden;
  }
  
  .cart-items {
    flex: 1;
    overflow-y: auto;
  }
  
  .cart-total {
    background-color: white; /* Ajusta el color de fondo según sea necesario */
    padding: 10px;
    border-top: 1px solid #ddd;
    position: sticky;
    bottom: 0;
  }
  