<div class="mat-app-background">
  <mat-toolbar color="primary">
    <span>Compras</span>
    <span class="spacer"></span>
    <nav>
      <button mat-icon-button   (click)="toggleCart()" aria-label="Example icon button with a delete icon">
        <mat-icon [matBadge]="totalItems()">shopping_cart</mat-icon>
      </button>
    </nav>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <app-shopping-cart  [isVisible]="isCartVisible"></app-shopping-cart>
</div>

